/AppFailureException.class
/DuplicateReservationFoundException.class
/GuestDetailUpdateFailureException.class
/GuestNotFoundException.class
/HotelSetupFailureException.class
/InvalidGuestDetailException.class
/InvalidReservationDetailException.class
/ReservationNotFoundException.class
/RoomDetailUpdateFailureException.class
/RoomNotFoundException.class
